.cards {
    max-width: 300px;
    max-height: 466px;
}

.productCard {
    position: relative;
}

.product_discount {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 49px;
    height: 24px;
    background-color: rgba(250, 74, 105, 1);
    border-radius: 20px;
    font-size: 15px;
    line-height: 18px;
    color: white;
    text-align: center;
    padding: 3px 6px 3px 6px;
}
.card {
    max-width: 300px;
    max-height: 365px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 1034px) {
    .cards {
        max-width: 200px;
        max-height: 350px;
    }
    .card {
        max-width: 200px;
        max-height: 290px;
    }
} 

.cart {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border-color: #2161e1;
    cursor: pointer;
}
.cart:active {
    background-color:gray;
}
.card_content {
    padding: 0px 10px 0px 0px;
}

.id {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
}

.card_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    margin-top: 4px;
}
