/* banner.module.css */

.conteiner {
    position: relative; /* Добавлено относительное позиционирование */
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    min-height: 750px;
    background-color: #17181F;
  }
  
  .nike {
    font-size: 32vw; /* Использование vw для респонсивного размера шрифта */
    font-weight: 500;
    letter-spacing: -1vw; /* Использование vw для респонсивного расстояния между символами */
    color: #EEEDF01A;
  }
  
  .conteiner_gallery {
    position: absolute; /* Добавлено абсолютное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    justify-items: center;
  }
  
  .title {
    margin-top: 20px;
    font-weight: 500;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -4.5px;
    color: #EEEDF0D9;
    text-align: center;
  }
  .gallery {
      display: flex;
      max-width: 500px;
      max-height: 100px;
      height: 100%;
      align-self:flex-start;
  }
  
