.subscribe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info picture";

    @media (768px <= width < 1220px) {
      
        img {
            width: 100%;        
        }

        .subscribe__container {
            width: 100%;
        }
    }

    @media (max-width: 767px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "info"
            "picture";

        img {
            width: 100%;
        }

        .subscribe__container {
            width: 100%;

        }
    }

    @media (max-width: 320px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "info"
            "picture";

        img {
            width: 100%;
        }

        .subscribe__container {
            width: 320px;
        }
        .subscribe__container_block {
            width: 320px;
        }
        .subscribe__container_news_desc {
            font-size: 35px;
        }
    }

    &__container {
        grid-area: info;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // justify-content: center;
        // height: 440px;
        height: 100%;
        background-color: $blue;
        padding: 20px;

        &_news {
            

            &_title {
                margin-top: 10px;
                color: $greyLight;
                font-size: 24px;
            }

            &_desc {
                margin-top: 20px;
                color: $white;
                font-size: 48px;
            }
        }

        &_block {
            margin-top: 40px;
            // height: 60px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
            align-items: flex-start;

            &_input {
                position: relative;
                width: 280px;
                height: 60px;
                margin-right: 15px;

                input {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    border: solid $blue;
                    padding: 18px 0 18px 54px;
                    font-size: 20px;
                    outline: 0;
                }

                &_icon {
                    position: absolute;
                    top: 22px;
                    left: 22px;
                    // transform: translateY(-50%);
                }
            }

            button {
                width: 130px;
                height: 60px;
                border-radius: 10px;
                margin-bottom: 20px;
                font-size: 20px;
                color: $white;
                background-color: $black;
                cursor: pointer;
            }
        }  
    }

    &__block {
        grid-area: picture;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;/* Это свойство позволяет изображению заполнить всю высоту, сохраняя при этом пропорции */
        }
    }

}

