.profile_box {
    display: flex;
    flex-direction: column;
    height: auto;
    border: 1px solid #ccc;
    padding: 20px;

}

.user_name,

h3 {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 24px;
    margin: 12px 0 12px 0; /* Add margin between elements */
}

.logout {
    color: var(--accent-14, #2D74FF);
    text-align: right;
    font-size: 14px;
    
    
    line-height: 15px;
    letter-spacing: -0.2px;
    
}

ul {
    margin: 0; /* Reset margin for the unordered list */
    padding-left: 20px; /* Add padding to the left of the list items */
}

ul li {
    margin-bottom: 6px; /* Add margin between list items */
}
