@import '../../scss/variables';

.navbar{
    //max-width: 1600px;
    border-bottom: 1px solid rgba(220, 220, 220, 1);
    // background-color: $white;
    // background-color: #17181F;
    // position: fixed;
    z-index: 10;
    &__container{
        height: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'menu search';
        grid-column-gap: 10px;
        //place-items: center;
        padding: 0 31px 0 30px;
        @media (max-width: 760px) {
            grid-template-columns: 1fr;
            grid-template-areas: 
                "menu"
                "search";
          }
        &-menu, &_block, &-logo{
            //grid-area: menu;
            justify-self: start;
            display: grid;
            grid-template-columns: repeat(6, auto);
            grid-column-gap: 20px;
            place-items: center;
        }
        &-logo{
            font-size: 24px;
            justify-self: start;
            padding: 5px 0 6px 0;
        }
        &-search{
            //grid-area: search;

            display: flex;
            flex-direction: row;
            justify-self: end;
            column-gap: 20px;
            align-items: center;
            &-input {
                    position: relative;
            
                    input {
                        width: 250px;
                        height: 40px;
                        border-radius: 10px;
                        border: 1px solid rgba(0, 0, 0, 0.1);
                        padding: 11px 0 11px 36px;
                    }
            
                    svg {
                        position: absolute;
                        top: 10px;
                        left: 12.5px;
                    }
                }
            &-basket{
                cursor: pointer;
            }
            &-login{
                cursor: pointer;
                fill: inherit;
            }
        }
        &_itemBlack{
            font-size: 16px;
            color: $grey;
            cursor: pointer;
            &:hover{
                color: $black;
            }
        }
        &_itemWhite{
            font-size: 16px;
            color: $grey;
            cursor: pointer;
            //margin-left: 30px;
            &:hover{
                color: $white;
            }
        }
    }
}
.active {
    display: block;
}

.hidden {
    display: none;
}